body {
    background: #e1f4fd !important;
}

.title {
    color: #021f2e;
}

.no-data-img {
    height: 250px;
    width: 250px;
}

.action-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.title-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.task-card {
    transition: 0.5s;
}

.task-card:hover {
    transform: scale(1.05);
}

@media (max-width:576px) {
    #task-holder {
        width: 90% !important;
    }
}